body, p 
{ 
    font-family: Verdana, sans serif; 
    font-size: 11px 
}

body 
{ 
    margin:0 
}

#Commands 
{ 
    color:#000 
}

.curCmd 
{ 
    color:red; 
    font-weight:bold 
}

.oldCmd 
{ 
    color:#999 
}

#Container 
{ 
    position:relative 
}

#Header 
{ 
    display:block;
    top:0;
    left:0;
    right:0;
    height:17px;
    border-bottom:1px solid #ddd;
    padding:4px 
}

#Logo 
{
	position:absolute;
	right:8px;
	font-family:Verdana, Sans-Serif;
	font-size:13px;
	color:#09f;
}

#Content 
{ 
    padding:8px 
}
